@font-face {
    font-family: ty;
    src: url('Thank you.ttf');
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 22px;
    text-align: center;
    font-family: sansation;
}

.scroll-back {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(154, 124, 154, 0.6),
            rgba(154, 124, 154, 0.6)),
        url("../images/oo.jpg");
}

#root {
    background-image: linear-gradient(rgba(154, 124, 154, 0.6),
            rgba(154, 124, 154, 0.6)),
        url("../images/oo.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    display: block;
    height: 55vh;
    width: 100%;
    position: relative;
}

#title {
    text-align: center;
    margin-top: 150px;
}

#next {
    text-align: center;
    font-family: ty;
    font-size: 30px;
    color: white;
}

h1 {
    font-family: ty;
    text-transform: lowercase;
    font-size: 65;
    line-height: 65px;
    vertical-align: bottom;
    color: white;
}

h2 {
    font-family: sansation;
    text-transform: uppercase;
    font-size: 30;
    line-height: 30px;
    vertical-align: bottom;
    color: #5B5A72;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: underline;
}

nav a,
nav a:link,
nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover,
nav a:visited:hover {
    color: #f6c4f8;
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: #5B5A72;
}

nav {
    font-family: sansation;
    font-size: 17px;
    text-align: center;
    line-height: 65px;
    position: fixed;
    width: 100%;
    letter-spacing: 2px;
    z-index: 3;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

nav li {
    font-weight: 100;
    text-transform: lowercase;
    color: inherit;
    flex: 1;
    margin-bottom: 0px;
}

nav ul {
    display: flex;
}

#about {
    background-color: rgb(244, 235, 246);
    padding-bottom: 13px;
}

#work {
    background-color: rgb(254, 248, 255);
}

#teaching {
    background-color: rgb(244, 235, 246);
}

footer {
    padding: 5px;
    background-color: rgb(254, 248, 255);
}

footer li {
    display: inline;
    padding: 2px;
}

.container {
    padding: 30px;
    text-align: center;
}

span {
    font-family: ty;
    text-transform: lowercase;
    font-size: 28;
    line-height: 65px;
    color: rgba(255, 255, 255, 0.7);
}

.anchor {
    display: block;
    height: 85px;
    margin-top: -85px;
    visibility: hidden;
}

#col2 {
    columns: 2;
    text-align: left;
    column-gap: 40px;
}

#name {
    font-size: 70px;
    color: rgba(255, 255, 255, 0.35);
    font-family: ty;
    position: sticky;
    top: 15vh;
}

#lg {
    flex: 2;
}

ul li {
    padding-left: 0px;
}

#teaching ul {
    list-style-type: circle;
}

#teaching ul li {
    text-align: left;
    padding-left: 30px;
    text-indent: -30px;
}

#work ul {
    list-style-type: circle;
}

#work ul li {
    text-align: left;
    padding-left: 30px;
    text-indent: -30px;
}

footer ul {
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

footer ul li a,
footer ul li a:visited,
footer ul li a:hover {
    color: #5B5A72;
    font-size: 30px;
    line-height: 30px;
    vertical-align: middle;
}

p {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }

    #col2 {
        columns: 1;
        text-align: left;
    }

    nav {
        font-size: 10px;
    }

    span {
        font-size: 11px;
    }

    #name {
        font-size: 42px;
        color: rgba(255, 255, 255, 0.4);
    }

    #teaching ul li {
        padding-left: 20px;
        text-indent: -20px;
    }

    #work ul li {
        padding-left: 20px;
        text-indent: -20px;
    }
}

@media screen and (min-width: 800px) {
    #root {
        background-position: center 30%;
        height: 70vh;
    }

    .scroll-back {
        background-position: center 30%;
    }
}